<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<!-- thymeleaf is our templating -->
<head>
<meta charset="UTF-8">
<title>Add Person</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<h1>Create a Person :</h1>
	<form th:action="@{/addPerson}" th:object="${personForm}" method="post">
		<label>First Name:</label><input th:field="*{firstName}" /> 
		<label>Last	Name:</label> <input th:field="*{lastName}" />
		<br/>
		<input type="submit" value="Create"  />
	</form>
	<br />
	<!-- check if errorMessage is not null and not empty -->
	<div th:if="${errorMessage}" th:text="${errorMessage}"
		style="color: red; font-style: italic;"></div>
</body>
</html>